<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="style/css/index.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="style/css/flaticon.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/flaticon.css">

</head>

<body>

    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">

                        <a href="./index.html" class="site-logo">
                            <img src="../static/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form class="header-search-form">
                            <input type="text" placeholder="Search on
                                    divisima ....">
                            <button><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            <div class="up-item">
                                <i class="flaticon-profile"></i>
                                <a href="http://localhost:3000/login">Sign</a> In or <a href="http://localhost:3000/registration">Create
                                        Account</a>
                            </div>
                            <div class="up-item">
                                <div class="shopping-card">
                                    <i class="flaticon-bag"></i>
                                    <span>0</span>
                                </div>
                                <a href="#">Shopping Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn
                            slicknav_collapsed" style=""><span
                                class="slicknav_menutxt">MENU</span><span
                                class="slicknav_icon"><span
                                    class="slicknav_icon-bar"></span><span
                                    class="slicknav_icon-bar"></span><span
                                    class="slicknav_icon-bar"></span></span></a>
                    <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display:
                            none;">
                        <li><a href="#" role="menuitem" tabindex="-1">Home</a></li>
                        <li><a href="#" role="menuitem" tabindex="-1">Women</a></li>
                        <li><a href="#" role="menuitem" tabindex="-1">Men</a></li>
                        <li><a href="#" role="menuitem" tabindex="-1">Jewelry
                                    <span class="new">New</span>
                                </a></li>
                        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style=""><a
                                        href="#" tabindex="-1">Shoes</a>
                            <span class="slicknav_arrow"><i
                                            class="flaticon-right-arrow"></i></span></a>
                            <ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                <li><a href="#" role="menuitem" tabindex="-1">Sneakers</a></li>
                                <li><a href="#" role="menuitem" tabindex="-1">Sandals</a></li>
                                <li><a href="#" role="menuitem" tabindex="-1">Formal Shoes</a></li>
                                <li><a href="#" role="menuitem" tabindex="-1">Boots</a></li>
                                <li><a href="#" role="menuitem" tabindex="-1">Flip Flops</a></li>
                            </ul>
                        </li>
                        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style=""><a
                                        href="#" tabindex="-1">Pages</a>
                            <span class="slicknav_arrow"><i
                                            class="flaticon-right-arrow"></i></span></a>
                            <ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                <li><a href="./product.html" role="menuitem" tabindex="-1">Product Page</a></li>
                                <li><a href="./category.html" role="menuitem" tabindex="-1">Category
                                            Page</a></li>
                                <li><a href="./cart.html" role="menuitem" tabindex="-1">Cart Page</a></li>
                                <li><a href="./checkout.html" role="menuitem" tabindex="-1">Checkout
                                            Page</a></li>
                                <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact Page</a></li>
                            </ul>
                        </li>
                        <li><a href="#" role="menuitem" tabindex="-1">Blog</a></li>
                    </ul>
                </div>

                <ul class="main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Kid</a></li>
                    <li><a href="#">Teen</a></li>
                    <li><a href="#">Adult
                                <span class="new">New</span>
                            </a></li>
                    <li><a href="#">Technology</a>
                        <ul class="sub-menu">
                            <li><a href="#">Java OOP</a></li>
                            <li><a href="#">Pyhton </a></li>
                            <li><a href="#">Machine learning</a></li>
                            <!-- <li><a href="#">Boots</a></li>
                            <li><a href="#">Flip Flops</a></li> -->
                        </ul>
                    </li>
                    <li><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="./product.html">Product Page</a></li>
                            <li><a href="./category.html">Category Page</a></li>
                            <li><a href="./cart.html">Cart Page</a></li>
                            <li><a href="./checkout.html">Checkout Page</a></li>
                            <li><a href="./contact.html">Contact Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main_img" style="max-width: 100%; height:730px"></div>
    <!-- ---- -->
    <section class="features-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <!-- <img src="img/icons/1.png" alt="#"> -->
                        </div>
                        <h2>Fast Secure Payments</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <!-- <img src="img/icons/2.png" alt="#"> -->
                        </div>
                        <h2>Premium Products</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <!-- <img src="img/icons/3.png" alt="#"> -->
                        </div>
                        <h2>Free &amp; fast Delivery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ---- -->

    <section class="top-letest-product-section">
        <div class="container">
            <div class="section-title">
                <h2>LATEST PRODUCTS</h2>
            </div>

            <!-- <img src="https://colorlib.com/preview/theme/divisima/img/product/4.jpg" alt="fghfgh"> -->
            <!-- <div class="product-slider owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform:
                            translate3d(-1200px, 0px, 0px);
                            transition: all 0.25s ease 0s; width: 2640px;">
                        <div class="owl-item cloned" style="width: 210px;
                                margin-right: 30px;">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="https://colorlib.com/preview/theme/divisima/img/product/4.jpg" alt="fghfgh">
                                    <div class="pi-links">
                                        <a href="#" class="add-card"><i
                                                    class="flaticon-bag"></i><span>ADD
                                                    TO CART</span></a>
                                        <a href="#" class="wishlist-btn"><i
                                                    class="flaticon-heart"></i></a>
                                    </div>
                                </div>
                                <div class="pi-text">
                                    <h6>$35,00</h6>
                                    <p>Flamboyant Pink Top </p>
                                </div>
                            </div>
                        </div> -->
            <div class="row">
                <div class="owl-item" style="width: 265px; margin-right:
                        30px;">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img id= "img1" src="https://books.google.com/books/content?id=4DhbnFAc8xcC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="290" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Food Technology"</p>
                        </div>
                    </div>
                </div>

                <div class="owl-item active" style="width: 265px;
                        margin-right: 30px;">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=kLM9gfnPcFAC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="290" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Bodies in Technology</p>
                        </div>
                    </div>
                </div>

                <div class="owl-item active" style="width: 265px;
                        margin-right: 30px;">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=FzHKDAAAQBAJ&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="290" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>War and Technology</p>
                        </div>
                    </div>
                </div>

                <div class="owl-item active" style="width: 265px;">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=EBtnG36-1WIC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="290" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>The Evolution of Technology</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------- -->

    <section class="product-filter-section">
        <div class="container">
            <div class="section-title">
                <h2>BROWSE TOP SELLING PRODUCTS</h2>
            </div>
            <ul class="product-filter-menu">
                <li><a href="#">TOPS</a></li>
                <li><a href="#">JUMPSUITS</a></li>
                <li><a href="#">LINGERIE</a></li>
                <li><a href="#">JEANS</a></li>
                <li><a href="#">DRESSES</a></li>
                <li><a href="#">COATS</a></li>
                <li><a href="#">JUMPERS</a></li>
                <li><a href="#">LEGGINGS</a></li>
            </ul>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=My7Zr0aP2L8C&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Digital Technology</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-sale">ON SALE</div>
                            <img src="https://books.google.com/books/content?id=MqIQUV3nJrAC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Technology and Global Change</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=9rNldaV3FwcC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Manufacturing Technology</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=PSmac4-qXv0C&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>ollege Scence Technology and Socety</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=r2uYfit4EKAC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>The Technology of Ancient Japan</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=5Ac-n6RSR0oC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Anthropological Perspectives on Technology"</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=4GfXtI5Q_zQC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Readings in the Philosophy of Technology"</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="https://books.google.com/books/content?id=BgYc9_ldWFYC&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="" width="265" height="450">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i
                                            class="flaticon-bag"></i><span>ADD
                                            TO CART</span></a>
                                <a href="#" class="wishlist-btn"><i
                                            class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Technology and Values</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5">
                <button class="site-btn sb-line sb-dark">LOAD MORE</button>
            </div>
        </div>
    </section>
    <!-- ------ -->
    <section class="banner-section">
        <div class="container">
            <div class="banner set-bg" data-setbg="img/banner-bg.jpg" style="background-image:
                    url(&quot;https://colorlib.com/preview/theme/divisima/img/banner-bg.jpg&quot;);">
                <div class="tag-new">NEW</div>
                <span>New Arrivals</span>
                <h2>STRIPED SHIRTS</h2>
                <a href="#" class="site-btn">SHOP NOW</a>
            </div>
        </div>
    </section>
    <!-- --------- -->
    <section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <a href="index.html"><img src="./img/logo-light.png" alt=""></a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>About</h2>
                        <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.
                        </p>
                        <img src="img/cards.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Questions</h2>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Track Orders</a></li>
                            <li><a href="">Returns</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Shipping</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Bloggers</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Press</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Questions</h2>
                        <div class="fw-latest-post-widget">
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg" style="background-image:
                                        url(&quot;img/blog-thumbs/1.jpg&quot;);"></div>
                                <div class="lp-content">
                                    <h6>what shoes to wear</h6>
                                    <span>Oct 21, 2018</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/2.jpg" style="background-image:
                                        url(&quot;img/blog-thumbs/2.jpg&quot;);"></div>
                                <div class="lp-content">
                                    <h6>trends this year</h6>
                                    <span>Oct 21, 2018</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget">
                        <h2>Questions</h2>
                        <div class="con-info">
                            <span>C.</span>
                            <p>Your Company Ltd </p>
                        </div>
                        <div class="con-info">
                            <span>B.</span>
                            <p>1481 Creekside Lane Avila Beach, CA 93424, P.O. BOX 68 </p>
                        </div>
                        <div class="con-info">
                            <span>T.</span>
                            <p>+53 345 7953 32453</p>
                        </div>
                        <div class="con-info">
                            <span>E.</span>
                            <p>office@youremail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="google-plus"><i class="fa
                                fa-google-plus"></i><span>g+plus</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa
                                fa-tumblr-square"></i><span>tumblr</span></a>
                </div>

                <p class="text-white text-center mt-5">Copyright ©
                    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
        </div>
    </section>
</body>
<script src="../static/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>